
    <div class="row" ng-controller="DescontosCtrl as descontosCtrl">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h4>Descontos / Agravos</h4>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal"  ng-submit="descontosCtrl.processSave()">
                        <div class="form-group">
                            <label for="selectEmpresa" class="col-sm-3 control-label">Empresa</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="selectEmpresa" data-ng-model="descontosCtrl.descontos.empresa">
                                    <option value="Porto Seguro">Porto Seguro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmpresa" class="col-sm-3 control-label">Códido Desconto/Agravo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" data-ng-model="descontosCtrl.descontos.inputEmpresa" id="inputEmpresa" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescricao" class="col-sm-3 control-label">Descrição resumida</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputDescricao" data-ng-model="descontosCtrl.descontos.Descricao" placeholder="Descrição">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescricaoLonga" class="col-sm-3 control-label">Descrição completa</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputDescricaoLonga"  data-ng-model="descontosCtrl.descontos.DescricaoLonga" placeholder="Descrição">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectTipo" class="col-sm-3 control-label">Tipo Desconto/Agravo</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="selectTipo" placeholder="" data-ng-model="descontosCtrl.descontos.tipoAplica">
                                    <option>Seleção</option>
                                    <option value="Tarifario">Tarifario</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectAplicação" class="col-sm-3 control-label">Calculo Desconto/Agravo</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="selectAplicação" data-ng-model="descontosCtrl.descontos.tipoDescAgra" placeholder="">
                                    <option>Seleção</option>
                                    <option value="Agravo">Agravo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPercMin" class="col-sm-3 control-label">Percentual Minimo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPercMin" data-ng-model="descontosCtrl.descontos.percMin" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPercMax" class="col-sm-3 control-label">Percentual Maximo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPercMax" data-ng-model="descontosCtrl.descontos.percMax" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectStatus" class="col-sm-3 control-label">Situação</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="selectStatus" id="selectStatus1" data-ng-model="descontosCtrl.descontos.Status" value="Ativo"> Ativo
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="selectStatus" id="selectStatus2" data-ng-model="descontosCtrl.descontos.Status" value="Inativo"> Inativo
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectStatus" class="col-sm-3 control-label">Comentários</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" data-ng-model="descontosCtrl.descontos.comentario" placeholder="Disponível em alteração e manutenção." ></textarea>
                            </div>
                        </div>
                        <div class="row col-sm-offset-3 col-sm-9">
                            <hr/>
                            <p><small>Última atualização realizado por: Gisele Ortiz; Matricula: P000000; Data da última atualização: 30/03/2015 14:30:45</small></p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <input type="submit"  class="btn btn-default" value="Salvar">
                                <button type="button" ng-click="descontosCtrl.delete(descontosCtrl.descontos.id)" class="btn btn-default">Remover</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="gridStyle" ng-grid="descontosCtrl.gridDescAgra"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
