<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Ramos Principais</h4>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="container-fluid">
                        <div class="gridStyle" ng-grid="gridRamo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Ramos Secundários</h4>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="container-fluid">
                        <div class="gridStyle" ng-grid="gridRamo2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>