<div class="well" style="overflow-y: scroll; overflow-x: hidden; min-height: 1000px;">
    <ul class="nav nav-list">
        <li><label class="tree-toggler nav-header" ng-click="portoseguro=!portoseguro"><span class="glyphicon glyphicon-minus">&nbsp</span>Porto Seguro</label>
            <ul class="nav nav-list tree" data-slide-toggle="portoseguro">
                <li><label class="tree-toggler nav-header" ng-click="Patrimoniais=!Patrimoniais"><span class="glyphicon glyphicon-minus">&nbsp</span>Patrimoniais </label>
                    <ul class="nav nav-list tree"  data-slide-toggle="Patrimoniais">
                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Compreensivo Condomínio </label>
                            <ul class="nav nav-list tree">
                                <li><label class="tree-toggler nav-header">
                                    <span class="glyphicon glyphicon-minus">&nbsp</span>Condomínio </label>
                                    <label><a ui-sref="create.produtocomercial">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header">
                                            <span class="glyphicon glyphicon-minus">&nbsp</span>Condomínio </label>
                                            <label><a  ui-sref="create.oferta">Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Residencial Patrimoniais </label>
                            <ul class="nav nav-list tree">
                                <li><label class="tree-toggler nav-header">
                                    <span class="glyphicon glyphicon-minus">&nbsp</span>Residência Habitual
                                    </label><label><a ui-sref="create.produtocomercial">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Habitual <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Apartamento <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Premium <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Acordos Especiais <a href="../produtocomercialemdesenvolvimento/produtocomercial.html">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Acordos Especiais <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Veraneio <a href="../produtocomercialemdesenvolvimento/produtocomercial.html">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Veraneio <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Residencial Simplificado <a href="../produtocomercialemdesenvolvimento/produtocomercial.html">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Simplificado <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Compreensivo Empresarial </label>
                            <ul class="nav nav-list tree">
                                <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Porto Empresas <a href="../produtocomercialemdesenvolvimento/produtocomercial.html">Ver</a></label>
                                    <ul class="nav nav-list tree">
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Porto Empresa <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Porto Imobiliária Empresa <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                        <li><label class="tree-toggler nav-header"><span class="glyphicon glyphicon-minus">&nbsp</span>Acordos Especiais <a href="../produtocomercialemdesenvolvimento/oferta.html" >Ver</a></label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Objeto do Risco</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Coberturas</a></li>
                                            </ul>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Claúsulas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>