<div class="col-md-12">
	<div class="row">
		<div class="col-md-6">
			<h4>Produto Comercial</h4>
		</div>
		<div class="col-md-6 text-right">
			<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default">Versionar</button>

			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				  Versão 3 - Atual
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="#">Versão 2</a></li>
				  <li><a href="#">Versão 1</a></li>
				  <li role="presentation" class="divider"></li>
				  <li><a href="../produtocomercial/versoesprodutocomercial.html">Listar Versões</a></li>
				</ul>
			  </div>
			</div>
		</div>
	</div>
	<hr/>
	<div>
	<form class="form-horizontal">
	<fieldset disabled>
	  <div class="form-group">
		<label for="selectEmpresa" class="col-sm-3 control-label">Empresa</label>
		<div class="col-sm-9">
		<select class="form-control" id="selectEmpresa" >
			<option>Porto Seguro</option>
		</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="selectGrupo" class="col-sm-3 control-label">Grupo Comercial</label>
		<div class="col-sm-9">
			<select class="form-control" id="selectGrupo" placeholder="Seleção do Ramo">
				<option>Lista de Valores</option>
			</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="selectRamo" class="col-sm-3 control-label">Ramo</label>
		<div class="col-sm-9">
			<select class="form-control" id="selectRamo" placeholder="Seleção do Ramo">
				<option>Lista de Valores</option>
			</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="selectModalidade" class="col-sm-3 control-label">Modalidade</label>
		<div class="col-sm-9">
			<select class="form-control" id="selectModalidade" placeholder="Seleção da Modalidade">
				<option>Lista de Valores</option>
			</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputDescricao" class="col-sm-3 control-label">Descrição resumida</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputDescricao" placeholder="Texto Livre">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputDescricaoLonga" class="col-sm-3 control-label">Descrição completa</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputDescricaoLonga" placeholder="Texto Livre">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputDescricaoLonga" class="col-sm-3 control-label">Status</label>
		<div class="col-sm-9">
			<input disabled type="text" class="form-control" id="inputDescricaoLonga" placeholder="">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputDescricaoLonga" class="col-sm-3 control-label">Numero da Versão</label>
		<div class="col-sm-9">
			<input disabled type="text" class="form-control" id="inputDescricaoLonga" placeholder="">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-3 control-label">Vigência</label>
		<div class="col-sm-9 center-block">
			<label for="inputInicio" class="col-sm-3 control-label">Início</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="inputRestricao" >
			</div>
			<label for="inputFim" class="col-sm-3 control-label">Fim</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="inputRestricao" >
			</div>
		</div>
	  </div>
	  <div class="row">
		</br></br>
	  </div>
	  <div class="form-group">
		<label for="selectProponente" class="col-sm-3 control-label">Tipo de Proponente</label>
		<div class="col-sm-9">
			<select class="form-control" id="selectProponente" placeholder="Seleção do Tipo de Proponente">
				<option>Lista de Valores</option>
			</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioPermAverbacao" class="col-sm-3 control-label">Permite Averbação?</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioPermAverbacao" id="radioPermAverbacao1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioPermAverbacao" id="radioPermAverbacao2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioLmiUnico" class="col-sm-3 control-label">LMI Único</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioLmiUnico" id="radioLmiUnico1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioLmiUnico" id="radioLmiUnico2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioCancTerc" class="col-sm-3 control-label">Cancelamento por parte do cliente / seguradora?</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioCancTerc" id="radioCancTerc1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioCancTerc" id="radioCancTerc2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioPermCoSeguro" class="col-sm-3 control-label">Permite co-seguro?</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioPermCoSeguro" id="radioPermCoSeguro1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioPermCoSeguro" id="radioPermCoSeguro2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioProrrogVig" class="col-sm-3 control-label">Prorrogação da Vigência?</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioProrrogVig" id="radioProrrogVig1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioProrrogVig" id="radioProrrogVig2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
		<label for="radioTituloCap" class="col-sm-3 control-label">Titulo de Capitalização?</label>
		<div class="col-sm-9">
			<label class="radio-inline">
			  <input type="radio" name="radioTituloCap" id="radioTituloCap1" value="S"> Sim
			</label>
			<label class="radio-inline">
			  <input type="radio" name="radioTituloCap" id="radioTituloCap2" value="N"> Não
			</label>
		</div>
	  </div>
	  <div class="form-group">
	  	<label for="selectMoeda" class="col-sm-3 control-label">Moeda(s) de Comercialização</label>
		<div class="col-sm-9">
			<select multiple class="form-control" id="selectMoeda" placeholder="Seleção de Moeda">
				<option>Lista de Valores</option>
			</select>
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputLimiteMinComissao" class="col-sm-3 control-label">Limite Mín. de Comissão</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputLimiteMinComissao" placeholder="Texto Livre">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputLimiteMaxComissao" class="col-sm-3 control-label">Limite Máx. de Comissão</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputLimiteMaxComissao" placeholder="Texto Livre">
		</div>
	  </div>
	  <div class="row col-sm-offset-3 col-sm-9">
		<hr/>
		<p><small>Última atualização realizado por: Gisele Ortiz; Matricula: P000000; Data da última atualização: 30/03/2015 14:30:45</small></p>
	  </div>
	</fieldset>
	</form>
</div>