<div class="col-md-12">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ui-nested><a ui-sref="general">Cadastros Gerais</a></li>
                <li ui-sref-active="active" ui-nested><a ui-sref="products">Produto Comercial</a></li>
                <li ui-sref-active="active"><a ui-sref="create">Cria Produto Comercial</a></li>
                <li ui-sref-active="active"><a ui-sref="development">Produto Comercial "Em Desenvolvimento"</a></li>
            </ul>
        </div>
    </nav>
</div>